/* your styles go here */
.kali_logo{
    transform: scale(1.6);
}
body{

    overflow-x: hidden;
}
.flex_box{
    display: flex;

}
.wrapper{
    width:99%;
    padding-top: 0px;
    text-align:center;
    margin: 0 auto;
    margin-top:40px;
    padding:30px;

}
.wrapper h6{
    line-height: 30px;
    font-weight: normal;
    font-size:19px;

}
a{
    text-decoration: none;
    color:#000;
}
.mx{
    max-width:1100px;
    margin: 50px auto;
}
.kali_btn_more{
  font-size: 23px;
    display: flex;
justify-content: center;
    /*align-items: center;*/
    margin:5px auto;

}
.kali_btn_more:hover .kali__hover{
    margin-right: 6px;
}
.kali_btn_more .kali__hover{
    margin:auto 0px;margin-top:13px;border:1px solid #0d6efd;border-top: none;border-left: none;height: 20px;width: 20px;transform: rotateZ(-225deg)}
.kali_btn_more .kali__hover{
transition: all 0.71s;}
.card{
    transition: all 1s;
}
nav{

}
.bgggg{
    /*background: #ffffff;*/
    /*width: 100vw;*/
}
body{
    z-index: 400;
    margin-bottom: 360px;
}
.footerr{
    /*position: relative;*/
    width: 100vw;
    background-image: url("../img/img.png");
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(126px);
    padding-top: 0;
    position: fixed;
    bottom: 0;
    z-index: -300;
    margin-top:600px

}

.overlayy{
    /*position: absolute;*/
    margin-top: -47px;
    width: 100%;
    height: 100%;
    background: rgba(5,5,5,0.67);
}
.head__img{
    width:80px;
    height:80px;

}

.h5{
    color:#aaaaaa;
}
.card:hover{
    transform: scale(1.1);
}
.wrapper h2{
    line-height: 40px;
    font-weight: 300;
    color:#0a58ca;

}


.carousel{
    width:99%;
    margin:0px auto;
    padding:0px;
;
}
.slick-slide{
    margin:5px;
}
.slick-slide img{
    width:100%;
}

.carousel .card{
border:none;
    width:140px;
    transition: all 0.7s;
    height:140px;
    background: transparent;
}
.carousel .card:hover{
 transform: scale(1.182);
}
.carousel .card img{
    background: transparent;
    width:100%;
    height:100%;
}
.slick-prev, .slick-next{
    background: #605e5e;

    height:40px;
    font-size:30px;
}
.change__--list{
    max-width:1100px;
    margin:20px auto;
}
.change__--list ul{
    font-size:22px;
    font-weight: 800;

    list-style-type: disc;
}
.font_weight_normal{
    font-weight: 800;
    line-height: 20px;
}
body{
    box-shadow: 1px 8px 20px rgba(170, 170, 170, 0.8);

}
@font-face {
    font-family: benas;
    src: url("../B-NAZANIN.TTF");
}
*,h1,h2{
    font-family: benas, serif;
}



@media screen and (max-width: 750px) {
    .head__img{
        width: 60px;
        height: 60px;
    }
    .footerr{
        margin-top: 0;
        position: relative;
        z-index:1;
    }
    body{
        margin-bottom: 0;
        z-index:1;
    }
}